.footer {
	background: $dark;
	color: $white;
	margin-top: auto;
	padding: rem(40) 0 rem(48);

	nav{
		padding-bottom: rem(24);
		border-bottom: 1px solid $gray;
		margin-bottom: rem(32);
	}
	.menu{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;

		.menu-item{
			margin-right: rem(32);
			&:last-child{
				margin: 0;
			}
		}

		a{
			color: $white;
			&:hover{
				color: rgba($white, .9);
			}

			font-size: rem(14);
			line-height: calc(18/14);
			letter-spacing: rem(0.2);
		}
	}

	&__all-rights{
		color: #CDCDCD;
		font-size: rem(14);
		line-height: calc(18/14);
		letter-spacing: rem(0.2);
	}
}
