.sForm {
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(121px)};
		--sPB: #{rem(118px)};
		--sTPB: #{rem(52px)};
	}
	&.template2{
		.form-wrap{
			position: static;
			left: auto;
			margin: 0;
		}
	}

	position: relative;
	z-index: 1;
	&__box-bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			position: absolute;
			object-fit: cover	;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	//-
	.form-wrap{
		@include media-breakpoint-up(xxl){
			position: relative;
			left: 36px;
		}

		margin: 0 auto;

		@include media-breakpoint-up(sm){
			border: 1px solid $gray-410;
			background: $gray-100;
			padding: rem(32) rem(20) rem(48);
		}
		@include media-breakpoint-up(sm){
			padding: rem(48) rem(64) rem(64);
		}
		@include media-breakpoint-up(md){
			padding: rem(48) rem(160) rem(64) rem(64);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(44) rem(145) rem(64) rem(64);
		}
		@include media-breakpoint-up(lg){
			width: rem(696);
		}

		form{

		}
		&__headline{
			@extend .h1;
			color: $dark;

			margin-bottom: rem(24);
			@include media-breakpoint-up(md){
				margin-bottom: rem(32);
				font-size: rem(44);
				line-height: 1.3;
			}
		}
		&__descr{
			color: $gray;
		}
		&__inputs{
			margin-bottom: var(--sTPB);
			@include media-breakpoint-up(xxl){
				margin-bottom: 63px;
			}
		}
		&__input-wrap{
			margin-bottom: rem(20);
			@include media-breakpoint-up(sm){
				margin-bottom: rem(30);
			}
			@include media-breakpoint-up(xl){
				margin-bottom: rem(40);
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
		&__input{
			padding: rem(8) 0;

			border-radius: 0;
			border-top: none!important;
			border-right: none!important;
			border-left: none!important;
			box-shadow: none!important;

			border-bottom: 1px solid $gray;

			color: $dark;
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.5;
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;

			padding: rem(15) rem(39);

			font-weight: 700;
			font-size: rem(19.3);
			line-height: 1.25;
		}
		&__{}
		&__{}
	}

	//
	&__{}
	&__{}
} // end.sForm