.sContact {
	background: $light;

	@include media-breakpoint-up(xl){
		--sPB: #{rem(60)};
	}
	&__row{
		--bs-gutter-x: #{rem(32)};
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(96)};
		}
		--bs-gutter-y: #{rem(32)};
	}
	.section-title{
		@include media-breakpoint-up(xxl){
			position: relative;
			top: -20px;
		}
		.headline{
			@include media-breakpoint-up(xxl){
				font-size: 17.4px;
			}
		}
		p{
			color: $gray;
			font-size: rem(21.4);
		}
	}
	&__item{
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(32);
		}
		@include media-breakpoint-up(xl){
			margin-bottom: rem(45);
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
	&__i-row{
		--bs-gutter-x: #{rem(16)};
	}
	&__icon{
		@include media-breakpoint-up(sm){
			margin-top: rem(2);
		}
		width: rem(24);
		height: rem(24);
		path{
			stroke: $secondary!important;
		}
	}
	&__title{
		color: $dark;
		font-size: rem(21.4px);
		font-weight: 500;
		margin-bottom: rem(8);
	}
	&__descr{
		font-size: rem(17.2);
		color: $gray;
	}
	a.sContact__descr{
		&:hover{
			color: $primary;
		}
	}
	//-
	&__{}
	&__{}
} // end.sContact