:root {
	--animate-delay: 1.2s;

	--bs-body-font-size: 14px;
	--sPT: #{rem(40)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--bs-body-font-size: 15px;
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(xl){
		--bs-body-font-size: #{$em-base};
		--sPT: #{rem(96)};
		--sPB: #{rem(96)};
		--sTPB: #{rem(64)};
	}

	--fancybox-content-color: var(--bs-body-color);
	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;

	--fancybox-bg: rgba(24, 24, 27, .77);
}