mixin headerBlock()
	// start headerBlock
	+b.SECTION.headerBlock.section#Home&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Main Title
				p — We’re a full-service interior design studio who specialise in simple and timeless spaces.
						
	// end headerBlock