extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/headerBlock2/_headerBlock2.pug
include ../blocks/sServices2/_sServices2.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sMore/_sMore.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/sServices/_sServices.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'template2'
	- let  bg= "template2.png"

block title
	- let  title= index.head.title
	title= title
block pagecontent
	+header({})
		+top-nav2({})
	+mob-mnu({})
	main
		+headerBlock2({})
		+sServices2({})
		+sMore({})
		+sContact2({})
		+sForm({
			addClasses: "template2"
		})
	+footer({})