mixin headerBlock2(data)
	// start headerBlock2
	+b.SECTION.headerBlock2.section#headerBlock2&attributes(attributes)
		.container
			+e.row.row.align-items-center
				+e.col--left.col-lg-6.col-xl-7
					+b.section-title
						h1 Main Title
						p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
						+e.btn(href="#Contact") Contact Us
				+e.col--right.col-lg-6.col-xl-5
					+e.img
						img(src="img/@2x/sample.jpg" alt="")

	// end headerBlock2