.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$primary};
	--position: calc(var(--h) * 2);
	&.on span {
		//--color: transparent;
		background: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}

	display: block;
	height: 32px;
	position: relative; 
	font-size: 32px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		 width: 32px;
		//width: 1em;
		height: 4px;
		border-radius: 2px;
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}

//
.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	top: var(--header-h);
	height: calc(100% - var(--header-h));
	width: 280px;
	// left: 0;
	right: 0;
	background-color: $body-bg;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;
		.toggle-menu-mobile{
			opacity: 0;
		}
	}
	@include mt(.6s);
	will-change: transform;


	.toggle-menu-mobile {
		margin-left: -15%;
		position: absolute;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		span:after,
		span:before {
			--color: #ffffff;
		}
	}
	&__inner {
		padding: rem(20);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		//height: calc(100% - var(--header-h));
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	&.active {
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	nav{
		margin-bottom: auto;
	}
	.menu{
		margin: 0 0 rem(32);
		padding: 0;
		list-style: none;

		.menu-item{
			margin-bottom: rem(4);
			&:last-child{
				margin-bottom: 0;
			}
		}

		a{
			color: $gray;

			font-weight: 500;
			font-size: rem(16);
			padding: rem(10) 0;
			display: block;
		}
	}

	&__btn{
		display: block;
		@extend .btn;
		@extend .btn-primary;

		font-size: rem(14);
		font-weight: 500;
		line-height: calc(20/14);
	}
}