mixin headerBlock3(data)
	// start headerBlock3
	+b.SECTION.headerBlock3.section#headerBlock3&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Main Title
				p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
				+e.btn(href="#") Contact Us
			+e.img
				img(loading="lazy" src="img/@2x/ContactSample.png" alt="")
	// end headerBlock3