mixin sMore3(data)
	// start sMore3
	+b.SECTION.sMore3.section#sMore3&attributes(attributes)
		.container
			+e.box
				+b.section-title.text-lg-start.text-center
					h2 We’re more than an agency.
				+e.img-box
					+e.img-row.row.justify-content-center
						+e.col--small.--flex-end.col
							+e.img--1
								img(loading="lazy" src="img/@2x/sample.jpg" alt="")
						+e.col--small.--flex-end.col
							+e.img--2
								img(loading="lazy" src="img/@2x/sample.jpg" alt="")
						.col-12.m-0
						+e.col--long.col
							+e.img--3
								img(loading="lazy" src="img/@2x/sample.jpg" alt="")
						+e.col--small.col
							+e.img--2
								img(loading="lazy" src="img/@2x/sample.jpg" alt="")
						+e.col--long.col
							+e.img--3
								img(loading="lazy" src="img/@2x/sample.jpg" alt="")
				+e.lower-txt
					p Lorem ipsum dolor sit amet consectetur remper ut:
					ul
						li Lorem ipsum dolor sit amet consectetur remper utLorem ipsum dolor sit amet consectetur remper ut Lorem ipsum dolor sit amet consectetur remper utLorem ipsum dolor sit amet consectetur remper ut
						li Lorem ipsum dolor sit amet consectetur remper utLorem ipsum dolor sit amet consectetur remper ut Lorem ipsum dolor sit amet consectetur remper utLorem ipsum dolor sit amet consectetur remper ut
						li Lorem ipsum dolor sit amet consectetur remper utLorem ipsum dolor sit amet consectetur remper ut Lorem ipsum dolor sit amet consectetur remper utLorem ipsum dolor sit amet consectetur remper ut
	// end sMore3