mixin mnu()
	nav
		ul.menu
			li.menu-item: a(href="#Home") Home
			li.menu-item: a(href="#Services") Services
			li.menu-item: a(href="#About") About
			li.menu-item: a(href="#Contact") Contact Us


mixin mnuOld()
	nav
		ul.menu
			each link in nav
				li.menu-item: a(href= link.url)= link.name
				if link.subnav
					li.menu-item.menu-item-has-children
						a(href="#") Про нас
						ul.sub-menu
							each sublink in link.subnav
								li.menu-item: a(href=sublink.url)=sublink.name

//- menu